In [1]:
#for handling tables of data within python
import pandas

#for connection to and communication to the posgres database
import psycopg2
from psycopg2 import Error

#for making data visualizations for the reports
import plotnine

In [13]:
#store the general connection info
un = "postgres"
pw = "cs425proj"
db = "erp"

In [20]:
#check to see if db tables exist. if not, create tables
required_tables = ['inventory']

try:
    connection = psycopg2.connect(user = un,
                                  password = pw,
                                  host = "127.0.0.1",
                                  port = "5432",
                                  database = db)

    cursor = connection.cursor()
    
### Using three single quotes allows us to write multiline strings.  This is just easier to read
    
    for tab in required_tables:
        query = "SELECT * FROM " + tab + ";"
        print(query)
# # run the query
        try cursor.execute(query):
            print("Table exists in PostgreSQL ")
        except:
            create_query = 
    # commit the results
    connection.commit()

except (Exception, psycopg2.DatabaseError) as error :
    print ("Error while creating PostgreSQL table", error)
finally:
    #closing database connection.
    if(connection):
        cursor.close()
        connection.close()
        print("PostgreSQL connection is closed")

SELECT * FROM inventory;
Table exists in PostgreSQL
PostgreSQL connection is closed

In [21]:
#check to see if user roles exist. if not, create roles

In [ ]:
#check to see if users exist. if not, create users

In [ ]:
#ask terminal for username and password

In [ ]:
#look up role for user

In [ ]:
#if user does not exist, throw error

In [ ]:
#if user exists, show available actions given role

In [4]:
inventory = pandas.read_csv('../erp_app/Data/inventory.csv')
inventory

In [6]:
model = pandas.read_csv('../erp_app/Data/model.csv')
model

   modelNumber  salePrice  inventoryID
0         1001        150          101
1         1002        220          102
2         1003        550          103
3         1004        100          104
4         1005        625          105

In [7]:
inventory.merge(model)

   inventoryID  cost  leadTime categoryType  amount  modelNumber  salePrice
0          101   100        10        small     100         1001        150
1          102   200        10          big      75         1002        220
2          103   500        90      medium       25         1003        550
3          104    50         5        small     200         1004        100
4          105   600        60          big      15         1005        625

In [13]:
employee = pandas.read_csv('../erp_app/Data/employee.csv')
employee
employee.query('Department == "Sales"')

,employeeID,FirstName,MiddleName,LastName,Salary,Salaried,Hourly,Department
1,10002,Sherman,Ken,Yip,45000,True,False,Sales
3,10004,Sahas,Karl,Johnson,45000,True,False,Sales
4,10005,Sudeep,Sunil,Harlow,55000,True,False,Sales
7,10008,Tim,B,Crisp,55000,True,False,Sales
9,10010,Tyrone,Carter,Mayfield,45000,True,False,Sales

In [11]:
customer = pandas.read_csv('../erp_app/Data/customer.csv')
customer

   customerID FirstName    LastName
0           1     Sunni        Lynn
1           2    Carrie  Armbruster
2           3      Anke   Dabrowski
3           4     Roman      Cooper
4           5   Tameeka       Jones
5           6    Hunter       Patel
6           7     Jacob        Rose
7           8       Kim         Lee
8           9         R     Bonesly
9          10      Zach      Herper

In [14]:
order = pandas.read_csv('../erp_app/Data/order.csv')
order

    orderNumber  customerID  employeeID  modelNumber  saleValue
0        100001          10       10002         1001        NaN
1        100002           9       10002         1004        NaN
2        100003           8       10002         1002        NaN
3        100004           7       10002         1004        NaN
4        100005           1       10004         1004        NaN
5        100006           2       10005         1001        NaN
6        100007           3       10008         1004        NaN
7        100008           4       10004         1003        NaN
8        100009           5       10008         1005        NaN
9        100010           6       10005         1004        NaN
10       100011          10       10008         1005        NaN
11       100012           5       10004         1005        NaN
12       100013           6       10008         1004        NaN
13       100014           7       10004         1001        NaN
14       100015           3       10005         1004        NaN
15       100016           4       10005         1004        NaN
16       100017           5       10010         1003        NaN
17       100018           2       10010         1003        NaN
18       100019           2       10010         1001        NaN

In [40]:
order['employeeID'].head()
employee['employeeID'].head()
customer['customerID'].head()
order['customerID'].head()


order.join(employee,on='employeeID')

ValueError: columns overlap but no suffix specified: Index(['employeeID'], dtype='object')

In [24]:
sls_order.join(customer)

ValueError: columns overlap but no suffix specified: Index(['customerID', 'FirstName', 'LastName'], dtype='object')

TypeError: merge() got an unexpected keyword argument 'by'